<div class="header-01oozD">
    <header class="header-position">
        <div class="header-31oovZ header-V8Sgnz">
            <a href="/?utm_src=desk&utm_source=desk">
                <div class="title">
                        <img src="https://raw.githubusercontent.com/Hydraulisc/hydraulisc.github.io/main/assets/img/Hydraulisc.png" class="logo">
                </div>
            </a>
            <div class="action-buttons">
                <nav class="nav-3_Sybl">
                    <div class="links-DGfZfm">
                        <ul id="navbarthings">
                            <% if (username) { %>
                                <a href="/">
                                    <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="z-index: 10;">
                                        <g stroke-width="0"/>
                                        <g stroke-linecap="round" stroke-linejoin="round"/><g>
                                            <path d="M19 10L19 20H9M5 20L5 10L12 3L15.5 6.5" stroke="#d7d9e0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                    </svg>
                                </a>
                                <a href="/pm/">
                                    <svg fill="#d7d9e0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="27px" viewBox="0 0 368.625 368.625" xml:space="preserve">
                                        <g stroke-width="0"/>
                                        <g stroke-linecap="round" stroke-linejoin="round"/>
                                        <g>
                                            <g>
                                                <g>
                                                    <path d="M356.125,50.318H12.5c-6.903,0-12.5,5.597-12.5,12.5v242.988c0,6.902,5.597,12.5,12.5,12.5h343.625 c6.902,0,12.5-5.598,12.5-12.5V62.818C368.625,55.916,363.027,50.318,356.125,50.318z M343.625,293.307H25V75.318h318.625V293.307 z" stroke="#d7d9e0"/>
                                                    <path d="M57.755,134.201l120,73.937c2.01,1.239,4.283,1.858,6.557,1.858s4.547-0.619,6.557-1.858l120-73.937 c5.877-3.621,7.707-11.322,4.086-17.199s-11.324-7.707-17.199-4.085l-113.444,69.896L70.869,112.917 c-5.875-3.619-13.576-1.793-17.199,4.085C50.048,122.878,51.877,130.58,57.755,134.201z" stroke="#d7d9e0"/>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                                <a href="/upload/">
                                    <svg width="27px" height="28px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g stroke-width="0"/>
                                        <g stroke-linecap="round" stroke-linejoin="round"/>
                                        <g>
                                            <path d="M22 20.8201C15.426 22.392 8.574 22.392 2 20.8201" stroke="#d7d9e0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M12.0508 16V2" stroke="#d7d9e0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M7.09961 6.21997L10.6096 2.60986C10.7895 2.42449 11.0048 2.27715 11.2427 2.17651C11.4806 2.07588 11.7363 2.02417 11.9946 2.02417C12.2529 2.02417 12.5086 2.07588 12.7465 2.17651C12.9844 2.27715 13.1997 2.42449 13.3796 2.60986L16.8996 6.21997" stroke="#d7d9e0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                    </svg>
                                </a>
                                <a href="/#">
                                    <svg width="29px" height="29px" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.10745 2.67414C9.98414 2.24187 10.9649 2 12 2C15.7274 2 18.7491 5.13623 18.7491 9.00497V9.70957C18.7491 10.5552 18.9903 11.3818 19.4422 12.0854L20.5496 13.8095C21.5612 15.3843 20.789 17.5249 19.0296 18.0229C14.4273 19.3257 9.57274 19.3257 4.97036 18.0229C3.21105 17.5249 2.43882 15.3843 3.45036 13.8095L4.5578 12.0854C5.00972 11.3818 5.25087 10.5552 5.25087 9.70957V9.00497C5.25087 7.93058 5.48391 6.91269 5.90039 6.00277" stroke="#d7d9e0" stroke-width="1.5" stroke-linecap="round"/>
                                        <path d="M7.5 19C8.15503 20.7478 9.92246 22 12 22C12.2445 22 12.4847 21.9827 12.7192 21.9492M16.5 19C16.2329 19.7126 15.781 20.3428 15.1985 20.8393" stroke="#d7d9e0" stroke-width="1.5" stroke-linecap="round"/>
                                    </svg>
                                </a>
                                <a href="/user/<%- uid %>">
                                    <svg width="41px" height="41px" viewBox="0 0 1000 780" data-name="Layer 2" id="Layer_2" xmlns="http://www.w3.org/2000/svg" fill="#d7d9e0" stroke="#d7d9e0"><g stroke-width="0"/>
                                        <g stroke-linecap="round" stroke-linejoin="round"/>
                                        <g>
                                            <defs></defs>
                                            <path class="cls-1" d="M815.37,529.09V470.91a16.94,16.94,0,0,0-15.23-16.85l-66.09-6.7a17,17,0,0,1-14.57-12.18,227.26,227.26,0,0,0-17.57-42.89,17,17,0,0,1,1.83-18.92l42.42-51.13a16.94,16.94,0,0,0-1-22.7l-40.8-41.47a17,17,0,0,0-22.68-1.33l-51.82,41.6A17,17,0,0,1,611,299.88a227.46,227.46,0,0,0-46.18-19.37A17,17,0,0,1,552.64,266l-6.7-66.1a16.94,16.94,0,0,0-16.85-15.23H470.91a16.94,16.94,0,0,0-16.85,15.23l-6.7,66.1a17,17,0,0,1-12.15,14.55A227.46,227.46,0,0,0,389,299.88a17,17,0,0,1-18.92-1.54l-51.82-41.6a17,17,0,0,0-22.68,1.33l-40.8,41.47a16.94,16.94,0,0,0-1,22.7l42.42,51.13a17,17,0,0,1,1.83,18.92,227.26,227.26,0,0,0-17.57,42.89A17,17,0,0,1,266,447.36l-66.09,6.7a16.94,16.94,0,0,0-15.23,16.85v58.18a16.94,16.94,0,0,0,15.23,16.85l66.09,6.7a17,17,0,0,1,14.57,12.18,227.26,227.26,0,0,0,17.57,42.89,17,17,0,0,1-1.83,18.92l-42.42,51.13a16.94,16.94,0,0,0,1,22.7l40.8,41.47a17,17,0,0,0,22.68,1.33l51.82-41.6A17,17,0,0,1,389,700.12a227.46,227.46,0,0,0,46.18,19.37A17,17,0,0,1,447.36,734l6.7,66.1a16.94,16.94,0,0,0,16.85,15.23h58.18a16.94,16.94,0,0,0,16.85-15.23l6.7-66.1a17,17,0,0,1,12.15-14.55A227.46,227.46,0,0,0,611,700.12a17,17,0,0,1,18.92,1.54l51.82,41.6a17,17,0,0,0,22.68-1.33l40.8-41.47a16.94,16.94,0,0,0,1-22.7l-42.42-51.13a17,17,0,0,1-1.83-18.92,227.26,227.26,0,0,0,17.57-42.89,17,17,0,0,1,14.57-12.18l66.09-6.7A16.94,16.94,0,0,0,815.37,529.09Z"/>
                                            <path class="cls-1" d="M386.2,554a126,126,0,0,0,227.6,0"/>
                                            <path class="cls-1" d="M386.2,446a126,126,0,0,1,227.6,0"/>
                                            <path class="cls-1" d="M433.42,534.91a72.13,72.13,0,1,0-2.13-65.68"/>
                                        </g>
                                    </svg>
                                </a>
                            <% } else { %>
                                <a href="/">
                                    <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="z-index: 10;">
                                        <g stroke-width="0"/>
                                        <g stroke-linecap="round" stroke-linejoin="round"/><g>
                                            <path d="M19 10L19 20H9M5 20L5 10L12 3L15.5 6.5" stroke="#d7d9e0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                    </svg>
                                </a>
                                <a href="/auth">
                                    <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                        <g id="SVGRepo_iconCarrier"> <path d="M15 20H18C19.1046 20 20 19.1046 20 18M15 4H18C19.1046 4 20 4.89543 20 6V14M11 16L15 12H3M11 8L12 9" stroke="#d7d9e0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </g>
                                    </svg>
                                </a>
                            <% } %>
                        </ul>
                        <div id="credoauth2-scope"></div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>