<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hydraulisc Privacy Policy</title>
    <meta property="og:title" content="Privacy Policy | The Hydraulisc Network">
    <meta property="og:description" content="The Hydraulisc Network Privacy Policy">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <link rel="canonical" href="https://hydraulisc.net/404">
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <meta name="description" content="Read the Hydraulisc Privacy Policy - Keep it according to the Privacy Policy!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="manifest" href="/json/manifest.json">
    <style>
        body {
            background-color: #d7d9e0;
            color: #04050a;
            font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }
        .maincontentcontainer {
            padding: 0 24px;
            line-height: 28px;
            box-sizing: border-box;
        }

        .maincontent {
            display: flex;
            padding-bottom: 4px;
            padding-top: 4px;
            width: 100%;
        }
        a {
            text-decoration: none;
            color: #5667c7;
        }
        ul li {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
    <div class="maincontentcontainer">
        <h1>Privacy Policy</h1>
        <hr>
        <h2 style="margin-bottom: .2rem;">What is the Privacy Policy and what's covered by it?</h2>
        <span style="color: #465a69;">Effective from 20 January 2024</span>
        <div class="maincontent">
            <div style="width: 100%;">
                <br>
                <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                    <details style="cursor: default;">
                        <summary>Highlights</summary>
                        <hr>
                        <ul>
                            <li style="margin-top: auto;">This Privacy Policy explains how we collect, use and share your information. It also describes how long we keep your information for and how we keep it safe when we transfer it.</li>
                            <li style="margin-top: auto;">This Privacy Policy also lets you know your rights.</li>
                            <li style="margin-top: auto;">This policy applies to what we call Hydraulisc Products. Our Products include Hydraulisc, StarPlace and PocketLive.</li>
                        </ul>
                    </details>
                </div>
                <br>
                <div>
                    <span>
                        <p>We at Hydraulisc want you to understand what information we collect, and how we use and share it. That's why we encourage you to read our Privacy Policy. This helps you use Hydraulisc Products in the way that's right for you.</p>
                        <p>In the Privacy Policy, we explain how we collect, use, share, retain and transfer information. We also let you know your rights. Each section of the Policy includes helpful examples and simpler language to make our practices easier to understand. We've also added links to resources where you can learn more about the privacy topics that interest you.</p>
                        <p>It's important to us that you know how to control your privacy, so we also show you where you can manage your information in the settings of the Hydraulisc Products you use. You can <a href="https://about.hydraulisc.net/help/articles/1?redirmag=SPECIFY_SETTING">update these settings</a> to shape your experience.</p>
                        <p>Read the full policy below.</p>
                    </span>
                </div>
                <div>
                    <span>
                        <h2>What information do we collect?</h2>
                    </span>
                </div>
                <div style="width: 100%;">
                    <br>
                    <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                        <details style="cursor: default;">
                            <summary>Highlights</summary>
                            <hr>
                            <span>In this policy, we list the kinds of information that we collect. Here are some important ones. We collect:</span>
                            <ul>
                                <li style="margin-top: auto;">The information that you give us when you sign up for our Products and create a profile, such as your email address or phone number.</li>
                                <li style="margin-top: auto;">What you do on our Products. This includes what you click on or like, your posts and photos and comments that you post. If you use our Private Messaging (5-Way Cryptographic Encryption messaging), we can't read those messages unless users report them to us for review.</li>
                                <li style="margin-top: auto;">Who your followers are, and what they do on our Products.</li>
                                <li style="margin-top: auto;">Information from the device that you use our Products on, like what version of our app you're using. We can't identify your device nor any of it's specifications.</li>
                                <li style="margin-top: auto; display: none;">Information from <a href="">partners</a> about things you do both on and off our Products. This could include other websites you visit, apps you use or online games you play.</li>
                            </ul>
                        </details>
                    </div>
                </div>
                <div style="width: 100%;">
                    <span>
                        <p>The information that we collect and process about you depends on how you use our Hydraulisc Products. For example, we collect different information if you post to StarPlace than if you post to Hydraulisc. For quality, when you use our products, we collect some information about you and your usage, even if you don't have an account.</p>
                        <p>Here's the information we collect:</p>
                        <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                            <details style="cursor: default;">
                                <summary>Your activity and information you provide</summary>
                                <hr>
                                <p>On our Hydraulisc Products, you can send messages, take photos and videos, stream from your phone in real time and much more. We call all of the things you can do on our products "activity". We collect your activity across our products and information that you provide, such as:</p>
                                <ul>
                                    <li>Content that you create, such as posts, comments or themes.</li>
                                    <li><a href="https://wikipedia.org/wiki/Metadata">Metadata</a> about content, subject to applicable law.</li>
                                    <li>Types of content, including sponsored content such as user submitted ads, that you view or interact with.</li>
                                    <li>Our apps, and features you use, including what actions you take in them.</li>
                                    <li>Hashs you use.</li>
                                    <li>The frequency and duration of your activities on our Products.</li>
                                </ul>
                                <b>Information with special protections</b>
                                <p style="margin-top: 0rem;">You might choose to provide information about your religious views, your sexual orientation, political views, health, racial or ethnic origin, philosophical beliefs or trade union membership. These types of information have special protections under the laws of your country.</p>
                            </details>
                        </div>
                        <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                            <details style="cursor: default;">
                                <summary>Followers, accounts and other connections</summary>
                                <hr>
                                <b>Information we collect about your followers, accounts and other connections</b>
                                <p>We collect information about followers, groups, accounts and other users and StarBoards that you're connected to and interact with. This includes how you interact with them across our products and which ones you interact with the most.</p>
                                <b>Information we collect or infer about you based on others' activity</b>
                                <p>We collect some information about you based on others' activity.</p>
                                <p>We also infer things about you based on others' activity. For example:</p>
                                <ul>
                                    <li>We may suggest a follower to you based on an Elevated ELO Rating System.</li>
                                    <li>We take into account whether your followers belong to a StarBoard when we suggest you join it.</li>
                                </ul>
                            </details>
                        </div>
                        <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                            <details style="cursor: default;">
                                <summary>App, client and version information</summary>
                                <hr>
                                <p>We collect and receive information from and about the different clients you use.</p>
                                <p>App, client and version information we collect and receive includes:</p>
                                <ul>
                                    <li>App Version and/or Build.</li>
                                    <li>Client Version and/or Build.</li>
                                    <li>Information such as such as whether our app is in the foreground or if your mouse is moving (which can help tell humans from bots).</li>
                                    <li>Information about our Products' performance on your device.</li>
                                    <li>Information from our cookies and similar technologies.</li>
                                </ul>
                            </details>
                        </div>
                        <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                            <details style="cursor: default;">
                                <summary>Information from partners</summary>
                                <hr>
                                <b>What kinds of information do we collect or receive?</b>
                                <p>We collect and receive information from first-party partners about a variety of your information and activities on our Products.</p>
                                <p>Here are some examples of information that we receive about you:</p>
                                <ul>
                                    <li>First-Party Referral links you use.</li>
                                    <li>Websites that you visit and cookie data, such as through Social plugins.</li>
                                    <li>The third-party ads and first-party promoted ads you see.</li>
                                    <li>How you use our partners' products and services.</li>
                                </ul>
                                <p>Partners also share information such as your email address and cookies. This helps us match your activities with your account. You can adjust your Cookie settings to control how we use certain information from partners to provide and personalise content and first-party promoted ads for you.</p>
                                <p>We receive this information whether or not you're logged in or have an account on our Products.</p>
                                <p>Partners also share with us their communications with you if they instruct us to provide services to their business, such as helping them manage their communications. To learn how a business processes or shares your information, read their Privacy Policy or contact them directly.</p>
                                <br>
                                <b>How do we collect or receive this information from partners?</b>
                                <p>Partners use our partner tools, client plugins and integrations to share information with us.</p>
                                <p>These partners collect your information when you visit their site or app or use their services, or through other businesses or organisations they work with. We require partners to have the right to collect, use and share your information before giving it to us.</p>
                                <p>We process certain information that we receive from partners as a joint controller with them.</p>
                            </details>
                        </div>
                    </span>
                </div>
                <br>
                <div>
                    <span>
                        <b>What if you don't let us collect certain information?</b>
                        <p>Some information is required for our products to work. Other information is optional, but without it, the quality of your experience might be affected.</p>
                        <p>We will always honour your choices.</p>
                        <b>What if the information that we collect doesn't identify individuals?</b>
                        <p>In most cases, information is de-identified, aggregated or anonymised by third parties so that it no longer identifies individuals before it's made available to us. We use this information as described below without trying to re-identify individuals.</p>
                    </span>
                </div>
                <div>
                    <span>
                        <h2>How do we use your information?</h2>
                    </span>
                </div>
                <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                    <details style="cursor: default;">
                        <summary>Highlights</summary>
                        <hr>
                        <p>Here are some of the ways we use your information:</p>
                        <ul>
                            <li>We personalise your experience, for instance by suggesting accounts to follow or StarBoards to join.</li>
                            <li>We improve our Products by applying information about what you use them to do, and what causes our app to crash.</li>
                            <li>We work to prevent harmful behaviour and keep people safe on our Products.</li>
                        </ul>
                    </details>
                </div>
                <div>
                    <span>
                        <p>We use information we collect to provide a personalised experience to you, including ads (if we show you ads on Hydraulisc Products), along with the other purposes we explain in detail below.</p>
                        <p>For some of these purposes, we use information across our Products from the platforms you choose to use. The information that we use for these purposes is automatically processed by our systems.</p>
                        <p>To use less information that's connected to individual users, in some cases we de-identify or aggregate information or anonymise it so that it no longer identifies you. We use this information in the same ways we use your information as described in this section.</p>
                        <p>Here are the ways we use your information:</p>
                        <b>To provide, personalise and improve our Products</b>
                        <p>We use information we have to provide and improve our Products. This includes personalising features, content and recommendations, such as your Hydraulisc Feed, StarPlace Feed, PocketLive Suggestions and recommendations.</p>
                        <p>Read more about how we use information to provide, personalise and improve our Products:</p>
                    </span>
                </div>
                <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                    <details style="cursor: default;">
                        <summary>How we show ads (if we show you ads on Hydraulisc Products)</summary>
                        <hr>
                        <p>When you use our Products, you see ads, such as promoted posts. You also see ads shown through our Partners when you visit other apps. We don't personalise ads for you.</p>
                    </details>
                </div>
                <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                    <details style="cursor: default;">
                        <summary>How we use information to improve our Products</summary>
                        <hr>
                        <p>We're always trying to make our Products better and create new ones with the features you want. Information we collect from you helps us learn how.</p>
                        <p>We use information we collect to:</p>
                        <ol>
                            <li>See if a Product is working correctly.</li>
                            <li>Troubleshoot and fix it when it's not.</li>
                            <li>Try out new products and features to see if they work.</li>
                            <li>Conduct surveys and other research about what you like about our Products and brands, and what we can do better.</li>
                        </ol>
                    </details>
                </div>
                <div>
                    <span>
                        <b>To promote safety, security and integrity</b>
                        <p>We use the information we collect to help protect people from harm and provide safe, secure Products.</p>
                        <b>To provide measurement, analytics and business services</b>
                        <p>Lots of people rely on our Products to promote their businesses. We help them measure how well their promoted ads are working.</p>
                        <b>To communicate with you</b>
                        <p>We communicate with you using information you've given us, such as contact information you've entered on your profile.</p>
                    </span>
                </div>
                <div>
                    <span>
                        <h2>How is your information shared on Hydraulisc Products or with integrated partners?</h2>
                    </span>
                </div>
                <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                    <details style="cursor: default;">
                        <summary>Highlights</summary>
                        <hr>
                        <ul>
                            <li>You can choose to share certain information on our Products or with integrated partners.</li>
                            <li>Remember to share only with people you trust.</li>
                        </ul>
                    </details>
                </div>
                <br>
                <div>
                    <span>
                        <b>On Hydraulisc Products</b>
                        <p>Learn more about the different cases when your information can be shared on our Products:</p>
                    </span>
                </div>
                <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                    <details style="cursor: default;">
                        <summary>Accounts that you share and communicate with</summary>
                        <hr>
                        <p>When you share and communicate using our products, you can sometimes choose to limit or restrict the audience for what you share.</p>
                        <p>When you interact with people or businesses, they can see:</p>
                        <b>What you share with them</b>
                        <p>For example, the audience can see when you:</p>
                        <ul>
                            <li>Share a post that you've written.</li>
                            <li>Share a photo or video.</li>
                            <li>Create a StarBoard.</li>
                            <li>Add or remove information from you profile.</li>
                        </ul>
                        <b>What you communicate with them</b>
                        <p>People you interact with can see what you send to them. So if you send a person or a business a message on Hydraulisc, that person or business can read your message.</p>
                        <b>Some of your activity</b>
                        <p>People and businesses can also see some of your activity on our Products. This includes when you:</p>
                        <ul>
                            <li>Comment on or react to others' posts.</li>
                            <li>Engage with sponsored or commercial content, such as by commenting or pressing the love button.</li>
                        </ul>
                        <b>When you're active</b>
                        <p>Some of our Products might provide you with settings that allow others to see when you're active on our Products, such as "active status". In some cases, we also offer settings that allow others to see when you're active in a particular section of one of our Products, such as a message thread, game or event, or when you last used one of our Products.</p>
                    </details>
                </div>
                <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                    <details style="cursor: default;">
                        <summary>Content that others share or reshare about you.</summary>
                        <hr>
                        <b>Who can see or reshare your content</b>
                        <p>People in your audience can view your content and can choose to share it with others outside your audience, on and off our products. For example, when you share a post or send a message to specific friends, they can download, screenshot or reshare it with anyone, on, across or off our products.</p>
                        <p>When you comment on a post or react to a photo, your comment or reaction can be seen by anyone who can see the post or photo. This can include people who you aren't connected to. The person who shared the post can also change their audience at any time after you've interacted with it.</p>
                        <b>How information about you can be shared</b>
                        <p>People who use our Products can share information about you with the audience they choose. For example, they can:</p>
                        <ul>
                            <li>Share a photo or video of you in a post, comment, story or message.</li>
                            <li>Mention you in a post or story.</li>
                            <li>Share details about you in a post, comment, story or message.</li>
                        </ul>
                        <p>If you're uncomfortable with what others have shared about you on our Products, you can always choose to <a href="/">report content</a>.</p>
                    </details>
                </div>
                <div style="width: 100% !important; background-color: white; padding: 5px; border-radius: 6px; border: 1px solid #04050a;">
                    <details style="cursor: default;">
                        <summary>Public content</summary>
                        <hr>
                        <b>What content is public?</b>
                        <p>Some of your information and activity are always public. This includes your nickname, Hydraulisc username, profile picture and activity on public StarPlace StarBoards.</p>
                        <p>Other content you can choose to set to Public, such as posts, photos and videos you post to your profile or stories.</p>
                        <b>Who can see public content?</b>
                        <p>When content is public, it can be seen by anyone on or across our Products, and in some cases off our Products, even if they don't have an account.</p>
                        <p>For example, if you comment on PocketLive, a public StarPlace StarBoard or a public Hydraulisc account your comment will be visible to anyone. It could appear in any of our products or be seen by anyone, including off our products.</p>
                        <b>Where can public content be shared?</b>
                        <p>We, you and people using our Products can send public content (e.g. your profile photo or information that you share on a StarPlace StarBoard or public Hydraulisc account) to anyone on, across or off our products. For example, users can share it in a public forum, or it can appear in search results on the Internet.</p>
                        <p>Public content can also be seen, accessed, reshared or downloaded through third-party services, such as:</p>
                        <ul>
                            <li>Search Engines.</li>
                            <li>APIs.</li>
                            <li>The media, like TV.</li>
                            <li>Other apps and websites connected to our products.</li>
                        </ul>
                    </details>
                </div>
            </div>
        </div>
    </div>
</body>
</html>