<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms | Hydraulisc</title>
    <meta property="og:title" content="Terms | The Hydraulisc Network">
    <meta property="og:description" content="The Hydraulisc Network Terms">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <link rel="canonical" href="https://hydraulisc.net/404">
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <meta name="description" content="Read the Hydraulisc Terms - Keep it according to Terms!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="manifest" href="/json/manifest.json">
    <style>
        body {
            background-color: #d7d9e0;
            color: #04050a;
            font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }
        .maincontentcontainer {
            padding: 0 24px;
            line-height: 20px;
            box-sizing: border-box;
        }

        .maincontent {
            display: flex;
            padding-bottom: 4px;
            padding-top: 4px;
            width: 100%;
        }
        a {
            text-decoration: none;
            color: #5667c7;
        }
        ul li {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
    <div class="maincontentcontainer">
        <h1>Terms of Use</h1>
        <hr>
        <div class="maincontent">
            <div>
                <div>
                    <span>
                        <p><i>We have updated our Terms of Use. These updated Terms, listed below, are effective as of January 20th, 2024.</i></p>
                    </span>
                </div>
                <span>
                    <br>
                    <div>
                        <div>
                            <p>Welcome to Hydraulisc!</p>
                            <br>
                            <p>These Terms of Use (or "Terms") govern your use of Hydraulisc, except where we expressly state that separate terms (and not these) apply, and provide information about the Hydraulisc Network Service (the "Service"), outlined below. When you create a Hydraulisc account or use Hydraulisc, you agree to these terms.</p>
                            <br>
                            <br>
                            <p>If we show you ads on Hydraulisc Products, these Terms also govern how Hydraulisc uses information to show you ads that businesses and organisations pay us to promote. The Hydraulisc Service is one of the Hydraulisc Products<span style="display: none;">, which is provided by Hydraulisc</span>. These Terms of Use therefore constitute an agreement between you and Hydraulisc.</p>
                            <br>
                            <br>
                        </div>
                        <div>
                            <span>
                                <b style="font-size: 22px;">The Hydraulisc Service</b>
                            </span>
                            <span>
                                <p>We agree to provide you with the Hydraulisc Service. The Service includes all of the Hydraulisc products, features, applications, services, technologies and software that we provide to advance Hydraulisc's mission: To build an inter-connected social newtork that brings you closer to the people and things that you love. The Service is made up of the following aspects:</p>
                            </span>
                            <ul>
                                <li>
                                    <span>
                                        <b>Offering personalised opportunities to create, connect, communicate, discover and share.</b> People are different. So, we offer you different types of accounts and features to help you create, share, grow your presence and communicate with people on and off Hydraulisc. We also want to strengthen your relationships through shared experiences that you actually care about. So we build systems that try to understand who and what you and others care about, and use that information to help you create, find, join and share in experiences that matter to you. Part of that is highlighting content, features, offers and accounts that you might be interested in, and offering ways for you to experience Hydraulisc, based on things that you and others do on and off Hydraulisc. Please see our recommender systems' system cards for information on how our various recommender systems prioritise signals to determine which content and suggestions to show you, as well as options for customising your experience. You can also review our <a href="/policy">Privacy Policy</a> to learn more about how we personalise your Hydraulisc experience.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <b>Promoting safety, integrity and security on and across the Hydraulisc Products.</b> We develop and use tools and offer resources to our community members that help to make their experiences positive and inclusive, including when we think that they might need help. We also have teams and systems that work to combat abuse and breaches of our Terms and policies, as well as harmful and deceptive behaviour. Learn more about the restrictions that we may impose on the use of Hydraulisc, including information on how we apply our content policies, procedures, measures and tools <a href="/enforcing-policies">here</a>. Learn more about how we deal with repeated violations of our content policies <a href="/enforcing-policies#restricting-accounts">here</a>. We use all of the information that we have - including your information - to try to keep our platform secure. We may also share information about misuse or harmful content with law enforcement. Learn more in the <a href="/policy">Privacy Policy</a>.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <b>Developing and using technologies that help us consistently serve our growing community.</b> Organising and analysing information for our growing community is central to our Service. A big part of our Service is creating and using cutting-edge technologies that help us personalise, protect and improve our Service on a large scale for a broad global community. Technologies such as machine learning give us the power to apply complex processes across our Service. Automated technologies also help us to ensure the functionality and integrity of our Service. Learn more in the <a href="/policy">Privacy Policy</a>.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <b>Providing consistent and seamless experiences across other Hydraulisc Network Products, outside of our contract with you.</b> Hydraulisc is part of the Hydraulisc Network, which share technology, systems, insights and information, including the information that we have about you (learn more in the <a href="/policy">Privacy Policy</a>) in order to provide services that are better, safer and more secure. We also provide ways to interact across the Hydraulisc Network Products that you use, and designed systems to achieve a seamless and consistent experience across the Hydraulisc Network Products depending on your choices.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <b>Communicating with you.</b> We may need to send you communications, such as emails or in-product notices, to respond to you or inform you about any product-related issues, research or our terms and policies. For more information, please review our <a href="/policy">Privacy Policy</a>.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <b>Ensuring your access to our Service.</b> To operate our global Service, we must store and transfer data across our systems around the world, including outside of your country of residence. The use of this global infrastructure is necessary and essential to provide our Service. This infrastructure may be owned or operated by the Hydraulisc Network, or their affiliates. For more information about how we transfer, store or process your information, please review our <a href="/policy">Privacy Policy</a>.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <b>Connecting you with brands, products and services in ways that you care about.</b> Subject to the choices and settings that you select, we use information from Hydraulisc and other Hydraulisc Network Products, to personalise your experience on Hydraulisc, including by showing you ads (if we show you ads on Hydraulisc Products), offers and other sponsored content that we believe will be meaningful to you. And we try to make that content as relevant as all of your other experiences on Hydraulisc. For more information about how we use information to provide you with a personalised experience, please review our <a href="/policy">Privacy Policy</a>.
                                    </span>
                                </li>
                                <br>
                                <span>For more information about how we use your information to provide, develop and improve Hydraulisc Network Products, please review our <a href="/policy">Privacy Policy</a>.</span>
                            </ul>
                        </div>
                        <br>
                        <br>
                        <div>
                            <span>
                                <b style="font-size: 22px;">How our Service is funded</b>
                            </span>
                            <span>
                                <p>We don't use your data for advertisements. As such, advertisements across Hydraulisc Network Platforms are usually irrelevant.</p>
                                <p>Additionally, you may see branded content on Hydraulisc posted by account holders who promote products or services based on a commercial relationship with the business partner mentioned in their content. You can learn more about this <a href="https://about.hydraulisc.net/help/articles/265720385">here</a>.</p>
                                <p>All Hydraulisc Network Platforms are funded by donations made by it's users, and revenue generated by advertisements shown across the Hydraulisc Network Platforms.</p>
                                <br>
                                <p>You can learn about how we collect and use your information in our <a href="/policy">Privacy Policy</a>.</p>
                            </span>
                        </div>
                        <br>
                        <br>
                        <div>
                            <span>
                                <b style="font-size: 22px;">The Privacy Policy</b>
                            </span>
                            <span>
                                <p>Providing our Service requires collecting and using your information. The <a href="/policy">Privacy Policy</a> explains how we collect, use and share information across the Hydraulisc Network Products. It also explains the many ways in which you can control your information, including in the <a href="https://about.hydraulisc.net/help/articles/80041588729">Hydraulisc privacy and security settings</a>.</p>
                            </span>
                        </div>
                        <br>
                        <br>
                        <div>
                            <span>
                                <b style="font-size: 22px;">Your commitments</b>
                            </span>
                            <span>
                                <p>In return for our commitment to provide the Service, we require you to make the below commitments to us.</p>
                                <p><b>Who can use Hydraulisc.</b> We want our Service to be as open and inclusive as possible, but we also want it to be safe, secure and in accordance with the law. So, we need you to commit to a few restrictions in order to be part of the Hydraulisc community.</p>
                                <ul>
                                    <li>
                                        <span>You must be at least 14 years old.</span>
                                    </li>
                                    <li>
                                        <span>You must not be prohibited from receiving any aspect of our Service under applicable laws or engaging in payments-related Services if you are on an applicable denied party listing.</span>
                                    </li>
                                    <li>
                                        <span>We must not have previously disabled your account for violation of law or any of our policies.</span>
                                    </li>
                                    <li>
                                        <span>You must not be a convicted sex offender.</span>
                                    </li>
                                </ul>
                            </span>
                            <span>
                                <b>How you can't use Hydraulisc.</b> Providing a safe and open Service for a broad community requires that we all do our part.
                            </span>
                            <span>
                                <ul>
                                    <li>
                                        <b>You can't impersonate others or provide inaccurate information.</b>
                                        <p style="margin-top: 0rem;">You don't have to disclose your identity on Hydraulisc, but you must provide us with accurate and up-to-date information (including registration information), which may include providing personal data. Also, you may not impersonate someone or something you aren't, and you can't create an account for someone else unless you have their express permission.</p>
                                    </li>
                                    <li>
                                        <b>You can't do anything unlawful, misleading or fraudulent or for an illegal or unauthorised purpose.</b>
                                    </li>
                                    <li>
                                        <b>You can't violate (or help or encourage others to violate) these Terms or our policies, including in particular the <a href="/guidelines">Hydraulisc Community Guidelines</a>, Hydraulisc Network Terms and Developer Policies and Music Guidelines.</b>
                                        <p style="margin-top: 0rem;">If you post branded content, you must comply with our Branded Content Policies in addition to our <a href="/guidelines">Hydraulisc Community Guidelines</a>, which require you to use our branded content tool. Learn how to report conduct or content <a href="https://about.hydraulisc.net/help/articles/101013">here</a>.</p>
                                    </li>
                                    <li>
                                        <b>You can't do anything to interfere with or impair the intended operation of the Service.</b>
                                        <p style="margin-top: 0rem;">This includes misusing any reporting, dispute or appeals channel, such as by making fraudulent or groundless reports or appeals.</p>
                                    </li>
                                    <li>
                                        <b>You can't attempt to create accounts or access or collect information in unauthorised ways.</b>
                                        <p style="margin-top: 0rem;">This includes creating accounts or collecting information in an automated way without our express permission.</p>
                                    </li>
                                    <li>
                                        <b>You can't sell, license or purchase any account or data obtained from us or our Service.</b>
                                        <p style="margin-top: 0rem;">This includes attempts to buy, sell or transfer any aspect of your account (including your username or handle); solicit, collect or use login credentials or badges of other users; or request or collect Hydraulisc usernames, handles, passwords or misappropriate access tokens.</p>
                                    </li>
                                    <li>
                                        <b>You can't post someone else's private or confidential information without permission or do anything that violates someone else's rights, including intellectual property rights (e.g. copyright infringement, trademark infringement, counterfeit or pirated goods).</b>
                                        <p style="margin-top: 0rem;">You may use someone else's works under exceptions or limitations to copyright and related rights under applicable law. You represent that you own or have obtained all necessary rights to the content you post or share. Learn more, including how to report content that you think infringes your intellectual property rights, <a href="https://about.hydraulisc.net/help/articles/101013">here</a>.</p>
                                    </li>
                                    <li>
                                        <b>You can't modify, translate, create derivative works of or reverse-engineer our products or their components.</b>
                                    </li>
                                    <li>
                                        <b>You can't use a domain name or URL in your username without our prior written consent.</b>
                                    </li>
                                </ul>
                            </span>
                            <span>
                                <b>Permissions you give us.</b> As part of our agreement, you also give us permissions that we need to provide the Service.
                            </span>
                            <span>
                                <ul>
                                    <li>
                                        <b>We do not claim ownership of your content, but you grant us a licence to use it.</b>
                                        <p style="margin-top: 0rem;">Nothing changes about your rights in your content. We do not claim ownership of your content that you post on or through the Service and you are free to share your content with anyone else, wherever you choose. However, we need certain legal permissions from you (known as a "licence") to provide the Service. When you share, post or upload content that is covered by intellectual property rights (such as photos or videos) on or in connection with our Service, you hereby grant to us a non-exclusive, royalty-free, transferable, sublicensable, worldwide licence to host, use, distribute, modify, run, copy, publicly perform or display, translate and create derivative works of your content (consistent with your privacy and application settings). This licence will end when your content is deleted from our systems. You can delete content individually or all at once by deleting your account. To learn more about how we use information, and how to control or delete your content, review the <a href="/policy">Privacy Policy</a> and visit this <a href="https://about.hydraulisc.net/help/articles/908182">Hydraulisc Help Article</a>.</p>
                                    </li>
                                    <li>
                                        <b>Permission to use your username, profile picture and information about your relationships and actions with accounts, ads (if we show you ads on Hydraulisc Products) and sponsored content.</b>
                                        <p style="margin-top: 0rem;">You give us permission to show your username, profile picture and information about your actions (such as loves) or relationships (such as follows) next to or in connection with accounts, ads, and other sponsored content that you follow or engage with that are displayed on Hydraulisc Network Products, without any compensation to you. For example, we may show that you liked a sponsored post created by a brand that has paid us to display its ads on Hydraulisc Products. As with actions on other content and follows of other accounts, actions on sponsored content and follows of sponsored accounts can only be seen by people who have permission to see that content or follow.</p>
                                    </li>
                                    <li>
                                        <b>You agree that we can download and install updates to the Service on your device.</b>
                                    </li>
                                </ul>
                            </span>
                        </div>
                        <br>
                        <br>
                        <div>
                            <span>
                                <b style="font-size: 22px;">Additional rights we retain</b> 
                            </span>
                        </div>
                        <div>
                            <span>
                                <ul>
                                    <li><p>If you select a username or similar identifier for your account, we may change it if we believe it is appropriate or necessary (for example, if it infringes someone's intellectual property or impersonates another user).</p></li>
                                    <li><p>If you use content covered by intellectual property rights that we have and make available in our Service (for example, images, designs, videos or sounds we provide that you add to content you create or share), we retain all rights to our content (but not yours).</p></li>
                                    <li><p>You can only use our intellectual property and trademarks or similar marks as expressly permitted by our <a href="https://about.hydraulisc.net/help/branding/guidelines">Branding Guidelines</a> or with our prior written permission.</p></li>
                                </ul>
                            </span>
                        </div>
                        <br>
                        <br>
                        <div>
                            <span>
                                <b style="font-size: 22px;">Content removal and disabling or terminating your account</b>
                            </span>
                        </div>
                        <div>
                            <span>
                                <ul>
                                    <li>We can remove or restrict any content or information that you share on the Service if we believe that it violates these Terms of Use, our policies (including our <a href="/guidelines">Hydraulisc Guidelines</a>) or we are required to do so by law. We can refuse to provide or stop providing all or part of the Service to you (including terminating or disabling your access to the Hydraulisc Network Products) immediately to protect our community or services, or if you create risk or legal exposure for us, violate these Terms of Use or our policies (including our <a href="/guidelines">Hydraulisc Guidelines</a>), if you repeatedly infringe other people's intellectual property rights or where we are required to do so by law. We can also terminate or change the Service, remove or block content or information shared on our Service, or stop providing all or part of the Service if we determine that doing so is reasonably necessary to avoid or mitigate adverse legal or regulatory impacts on us. In some cases when we remove content, we'll let you know and explain any options that you have to request another review, unless you seriously or repeatedly violate these Terms, or if doing so may expose us or others to legal liability; harm our community of users; compromise or interfere with the integrity or operation of any of our services, systems or products; where we are restricted due to technical limitations; or where we are prohibited from doing so for legal reasons. Learn more about our Complaints Handling Process <a href="">here</a>. If you believe that your account has been terminated in error, or you want to disable or permanently delete your account, consult this <a href="https://about.hydraulisc.net/help/articles/908182"> Hydraulisc Help Article</a>. When you request to delete content or your account, the deletion process will automatically begin no more than 30 days after your request. It may take up to 90 days to delete content after the deletion process has begun. While the deletion process for such content is being undertaken, the content is no longer visible to other users, but remains subject to these Terms of Use and our <a href="/policy">Privacy Policy</a>. After the content has been deleted, it may take us up to another 90 days to remove it from backups and disaster recovery systems.</li>
                                    <li>Content will not be deleted within 90 days of the account deletion or content deletion process beginning in the following situations:
                                        <ul>
                                            <li>where your content has been used by others in accordance with this licence and they have not deleted it (in which case this licence will continue to apply until that content has been deleted); or</li>
                                            <li>where deletion within 90 days is not possible due to technical limitations of our systems, in which case, we will complete the deletion as soon as technically feasible; or</li>
                                            <li>where deletion would restrict our ability to:
                                                <ul>
                                                    <li>investigate or identify illegal activity or violations of our terms and policies (for example, to identify or investigate misuse of our products or systems);</li>
                                                    <li>protect the safety and security of our products, systems and users;</li>
                                                    <li>comply with a legal obligation, such as the preservation of evidence; or</li>
                                                    <li>comply with a request of a judicial or administrative authority, law enforcement or a government agency;</li>
                                                </ul>
                                            </li>
                                            <li>in which case, the content will be retained for no longer than is necessary for the purposes for which it has been retained (the exact duration will vary on a case-by-case basis).</li>
                                        </ul>
                                    </li>
                                    <li>If you delete or we disable your account, these Terms shall terminate as an agreement between you and us, but this section and the section below called "Our agreement and what happens if we disagree" will still apply even after your account has been terminated, disabled or deleted.</li>
                                </ul>
                            </span>
                        </div>
                        <br>
                        <br>
                        <div>
                            <span>
                                <b style="font-size: 22px;">Our agreement and what happens if we disagree</b>
                            </span>
                        </div>
                        <div>
                            <span>
                                <b>Our agreement.</b>
                                <span>
                                    <ul>
                                        <li>Your use of music on the Service is also subject to our Music Guidelines, and your use of our API is subject to our Hydraulisc Network Terms and Developer Policies.</li>
                                        <li>If any aspect of this agreement is unenforceable, the rest will remain in effect.</li>
                                        <li>Any amendment or waiver to our agreement must be in writing and signed by us. If we fail to enforce any aspect of this agreement, it will not be a waiver.</li>
                                        <li>We reserve all rights not expressly granted to you.</li>
                                    </ul>
                                </span>
                                <b>Who has rights under this agreement.</b>
                                <span>
                                    <ul>
                                        <li>This agreement does not give rights to any third parties.</li>
                                        <li>You cannot transfer your rights or obligations under this agreement without our consent.</li>
                                        <li>Our rights and obligations can be assigned to others. For example, this could occur if our ownership changes (as in a merger, acquisition or sale of assets) or by law.</li>
                                    </ul>
                                </span>
                                <b>Who is responsible if something happens.</b>
                                <span>
                                    <ul>
                                        <li>We will use reasonable skill and care in providing our Service to you and in keeping a safe, secure and error-free environment, but we cannot guarantee that our Service will always function without disruptions, delays or imperfections. Provided that we have acted with reasonable skill and care, we do not accept responsibility for: losses not caused by our breach of these Terms or otherwise by our acts; losses which are not reasonably foreseeable by you and us at the time of entering into these Terms; any offensive, inappropriate, obscene, unlawful or otherwise objectionable content posted by others that you may encounter on our Service; and events beyond our reasonable control.</li>
                                        <li>The above does not exclude or limit our liability for death, personal injury or fraudulent misrepresentation caused by our negligence. It also does not exclude or limit our liability for any other things where the law does not permit us to do so. </li>
                                    </ul>
                                </span>
                                <b>How we will handle disputes.</b>
                                <span>
                                    <ul>
                                        <li>If a claim or dispute arises out of or relates to your use of the Service as a consumer, both you and us agree that you may resolve your individual claim or dispute against us, and we may resolve our claim or dispute against you, in any competent court in the country of your main residence that has jurisdiction over your claim or dispute, and the laws of that country will apply without regard to conflict of law provisions.</li>
                                        <li>If a claim or dispute arises between us that relates to use of the Service in any other capacity, including, but not limited to, access or use of the Service for a business or commercial purpose, you agree that any such claim or dispute must be resolved in a competent court in Ireland and that Irish law will apply without regard to conflict of law provisions.</li>
                                    </ul>
                                </span>
                                <b>Unsolicited material.</b>
                                <span>
                                    <ul>
                                        <li>We always appreciate feedback or other suggestions, but may use them without any restrictions or obligation to compensate you for them, and are under no obligation to keep them confidential.</li>
                                    </ul>
                                </span>
                            </span>
                        </div>
                        <br>
                        <br>
                        <div>
                            <span>
                                <b style="font-size: 22px;">Updating these Terms</b>
                            </span>
                        </div>
                        <div>
                            <span>We may change our Service and policies, and we may need to make changes to these Terms so that they accurately reflect our Service and policies. Unless otherwise required by law, we will notify you (for example, through our Service) at least 30 days before we make changes to these Terms and give you an opportunity to review them before they go into effect. Then, if you continue to use the Service, you will be bound by the updated Terms. If you do not want to agree to these or any updated Terms, you can delete your account.</span>
                            <span>Revised: 20 January 2024</span>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</body>
</html>