<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>85 | Hydraulisc</title>
    <link rel="canonical" href="https://hydraulisc.net/404" />
    <!-- Unused Canonical and alternate "link"'s removed: https://www.html-easy.com/references/html-link-tag/ & https://ahrefs.com/blog/canonical-tags/ -->
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <meta name="description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="manifest" href="/json/manifest.json">
</head>
<body>
    <%- include('../partials/cookies', { cookies: cookies }) %>
    <%- include('../partials/header', { username: username }) %>
    <div class="app-container">
        <div class="gridz">
            <div class="home_container">
                <div class="outofstylecontainer" style="margin-left: 2rem; max-width: 100% !important; width: 590px; margin-top: 4rem !important; text-align: center;">
                    <div class="errorText" title="Error 85">
                        <h1>85</h1>
                    </div>
                    <h3 class="thisTypes">The requested resource was not found, the system took too long to respond, the system is offline, or you do not have access to view the requested resource.</h3>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer', { username: username, uid: uid }) %>
    <%- include('../partials/pwa') %>
</body>
</html>